body {
  margin: 0px;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: xx-large;
}
button {
  margin: 5px 5px 5px 0px;
  height: 40px;
}
